/* tablets and small screens */
@media screen and (min-width: 480px) {
    .container {
      margin-top: 2.5rem;
    }
    .list-container, .progress-bar {
      width: 400px;
    }
}

@media screen and (min-width: 1024px) {
    .list-container, .progress-bar {
      width: 500px;
    }
}